<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.jiaqiao.jiayinplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.jiaqiao.jiayinplayer.MusicPlayActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.android.jiaqiao.jiayinplayer.SetActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.android.jiaqiao.Activity.AddMusicSheetNameActivity"
            android:theme="@style/DIY_Dialog"></activity>
        <activity
            android:name="com.android.jiaqiao.Activity.AllMusciAddToSheetActivity"
            android:theme="@style/DIY_Dialog"></activity>
        <activity
            android:name="com.android.jiaqiao.Activity.DeleteMusicSheetActivity"
            android:theme="@style/DIY_Dialog"></activity>
        <activity
            android:name="com.android.jiaqiao.Activity.MusicEditNeedListActivity"
            android:theme="@style/DIY_Dialog"></activity>
        <activity
            android:name="com.android.jiaqiao.Activity.MusicEditAddMusicSheetActivity"
            android:theme="@style/DIY_Dialog"></activity>
        <activity
            android:name="com.android.jiaqiao.Activity.MusicEditAddMusicSheetNameActivity"
            android:theme="@style/DIY_Dialog"></activity>
        <activity
            android:name="com.android.jiaqiao.Activity.MusicEditDeleteActivity"
            android:theme="@style/DIY_Dialog"></activity>
        <activity
            android:name="com.android.jiaqiao.Activity.MusicEditItemLongActivity"
            android:theme="@style/DIY_Dialog"></activity>
        <activity
            android:name="com.android.jiaqiao.Activity.TimingActivity"
            android:theme="@style/DIY_Dialog"></activity>
        <activity
            android:name="com.android.jiaqiao.Activity.TimingUserNumActivity"
            android:theme="@style/DIY_Dialog"></activity>
        <activity
            android:name="com.android.jiaqiao.Activity.TimingTimeNumTooLongActivity"
            android:theme="@style/DIY_Dialog"></activity>


        <service android:name="com.android.jiaqiao.Service.SelectMusicService" />
        <service android:name="com.android.jiaqiao.Service.MusicPlayService" />
        <service android:name="com.android.jiaqiao.Service.TimingService" />
    </application>
</manifest>